/*
    box model:
    -solo funciona en elementos display block
    -div es una etiqueta que por defecto tiene display block 

    El comportamiento por defecto:
    - ocupa todo el ancho de pantalla
    - la altura depende del contenido

    Funiona si:
    -funciona si las cajas tienen algun contenido
    - o tienen tamaño definido


    Margin:
    -Determina el espacio entre los elementos 
    -solo aplica a elementos display block
    -Computado de margenes 
    -colapso de margenes
*/

/*Formas de reseteo universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    border-top-color: cadetblue;
    border-top-style: groove;
    border-top-width: 10px;
    border-left: dashed;
    border-right: dotted ;
    border-bottom:inset;
}

.box1{    
    margin-top: 20px 40px;
    background: steelblue;
    padding: 50px 45px 3px;
    display: block; 
    height: 200px;
    width: 300px;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 20px;
}

.box2{
    background: salmon;
    display: block;
    height: 200px;
    width: 200px;
    opacity: 0.5;
    margin-top: 100px;
    border-radius: 50%;
    padding: 50px;
    text-align: center;
    justify-content: center;

}